div.footer
    div.footer__logo DART3000
    ul.footer__nav 
        li 
            a(href='#') About US 
        li 
            a(href='#') Download Apps
        li 
            a(href='#') Become A Guide
        li 
            a(href='#') Careers 
        li 
            a(href='#') Contacts 
    p.footer__copyright &copy; by Ritika Jagtap. All rights reserved.