nav#navbar.top
            ul#navigation
                div#logo
                    img(src="/img/favicon.png")
                li #[a(href= "/home") Home]
                li #[a(href= "#aboutsection") About]
                li #[a(href= "/") Contact Us]
                li#profileButton #[a(href= "/") Profile]