extends base

block content
    section#introsection
        div#introlines
            h1 Opportunities are Waiting for you, Go Get Them!
            p#para1
                | We appreciate all your Love and support which our Company has recieved through the years, In this case it becomes our responsibility to give back! 
            p#para2
                | The sale is applicable only till 20th Jan 2021. Visit our online store, Now! The offer is also applicable in all the Homes Of Heaven stores across the country!     
            section#btnSec
                a(href="/login" id="btn")  Login
                a(href="/signup" id="btn") Register